
ls/lua-language-server/
spell
undodir
lua/plugins/init.lua.bk
lua/utils/personal-functions.lua
lua/general/old_settings.lua
lua/plugins/tools/nvimtree.lua.bk
lua/general/old_settings.lua.bk
lua/keys/old_mappings.lua
lua/keys/plugins-mappings.lua
tmp

removed

syntax/deluge.vim.bk1
syntax/deluge.vim.last
syntax/deluge.vim.orig
plugin
lua/test.lua
coq-user-snippets
lua/lsp/config/emmet.lua
lua/plugins/themes/gruvbox-baby.lua
lua/plugins/themes/gruvbox8.lua